<div>
  <br />
  <h2>Users:</h2>
  <ul>
    <li *ngFor="let user of users">
      <a (click)="goToProfile(user)">{{ user }}</a>
    </li>
  </ul>
  <br />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
    reiciendis. Vel, ad. Suscipit, dolor deleniti, rem doloribus ut similique
    possimus laudantium vero fuga repellendus mollitia dolores dolorum
    laboriosam culpa illo.
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum sapiente in
    porro maiores tenetur, ad natus officia dolore temporibus explicabo magnam
    suscipit error accusamus tempora dignissimos amet ratione autem assumenda
    atque sint, harum possimus. Sapiente debitis consequuntur sunt nihil
    reprehenderit? Enim amet ut iste recusandae sint porro doloremque mollitia
    libero esse quia ducimus quam velit, eos voluptate aliquid impedit
    dignissimos tenetur explicabo animi labore blanditiis voluptates hic, harum
    in! Explicabo magnam labore ad dignissimos commodi in unde, consequatur
    architecto incidunt! Cupiditate in delectus quod atque id, unde voluptates,
    qui accusamus reprehenderit facere modi nam a dolores debitis velit aperiam
    distinctio?
  </p>
  <br />
</div>
